@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'yg-jalnan';
}

.App {
  background-color: white;
}

.Button {
  border: 0;
  font-size: 2vi;
  margin-right: 2vw;
  margin-left: 2vw;
  background-color: white;
  color: gold;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: center; /* 중앙 정렬을 위해 justify-content를 center로 설정 */
  width: 100%;
  border-bottom: 5px solid orange;
  position: relative;
}

.NavBar .icon {
  width: 6vw;
}

.title {
  font-size: 2vi;
}

.buttonBar {
  display: flex;
  position: absolute; /* 버튼 바를 절대 위치로 설정 */
  left: 50%; /* 부모 요소의 50% 지점으로 이동 */
  transform: translateX(-50%);
}

.User {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  left: 100%;
  width: 15vi;
  transform: translateX(-170%);
}

.NavBar .login {
  position: relative;
  display: flex;
  width: 4vw;
}

.User button {
  display: flex;
  position: relative;
  color: #606060;
}

.Main {
  padding-top: 5vh;
  margin: 0 auto;
  display: flex;
  width: 90%;
}